.wrapper{
    width: 1200px;
    margin: 0 auto;
}
/*header*/
header{
    width: 1046px;
    height: 64px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
header a{
    cursor: pointer;
    display: flex;
    text-decoration: none;
}
header a h1{
    font-family: 'Nunito',sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 6px;
    margin-right: 135px;
    color: #3E3F43 ;
}
nav ul{
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px; 
    display: flex;
    list-style: none;
    gap: 64px;
}
nav a{
    text-decoration: none;
    color: #612999; 
}
.current-page a{
    font-weight: 700;
}
nav a:hover{
    color: mediumorchid;
}
/*footer*/
footer{
    width: 1200px;
    height: 287px;
    background-color:#EFECFF;
    margin-top: 246px;
}
.footer-content{
    display: flex;
}
.footer-content h1{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 8px;
}
.footer-content a{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    color: #333333;
    text-decoration: none;
    list-style: none; 
    display: block;
    margin-top: 8px;
}
.footer-left{
    width: 126px;
    height: 126px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 32px;
    margin-right: 150px;
}
.footer-left a{
    cursor: default;
}
.footer-right{
    width: 107px;
    height: 126px;
    margin-top: 32px;
}
.logo-twitter{
    margin-left: 32px;
    cursor: pointer;
}
.logo-facebook{
    margin-left: 24px;
    cursor: pointer;
}
.logo-instagram{
    margin-left: 24px;
    cursor: pointer;
}
.footer-copy{
    font-family: 'Nunito';
    font-weight:600;
    font-size: 16px;
    color: #333333;
    padding-left: 32px;
    margin-top: 16px;
}